<div th:fragment="header">
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/charges" class="nav-link link-dark px-2">Charges</a></li>
            <li class="nav-item"><a href="/expenseitems" class="nav-link link-dark px-2">Expense Items</a></li>
            <li class="nav-item"><a href="/sales" class="nav-link link-dark px-2">Sales</a></li>
            <li class="nav-item"><a href="/warehouses" class="nav-link link-dark px-2">Warehouses</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
            <li class="nav-item"><a href="/register" class="nav-link link-dark px-2">Register</a></li>
            <li class="nav-item"><a href="/account" class="nav-link link-dark px-2">Account</a></li>
        </ul>
        </div>
    </nav>
</div>